Repository MoscowSquad/FoodChangeMood, pull requests merged in 2025-04, with the labels that each got.

#17 Feature/7 keto diet meal helper
  src/main/kotlin/logic/KetoDietMealHelper.kt
  src/main/kotlin/model/Meal
Labels: feature

#22 fix/12-i-love-potateos
  src/main/kotlin/dependencyInjection/useCaseModule.kt
  src/main/kotlin/logic/GetRandomMealsHavePotatoes.kt
  src/main/kotlin/logic/SweetsWithNoEggUseCase.kt
Labels: bug

#39 Test/1-UI and Use Case Tests for Healthy Quick Meals Feature
  src/main/kotlin/presentation/HealthyFastFoodMealsUI.kt
  src/test/kotlin/logic/usecases/CreateMeal.kt
  src/test/kotlin/logic/usecases/GetHealthyFastFoodMealsUseCaseTest.kt
  src/test/kotlin/presentation/HealthyFastFoodMealsUITest.kt
Labels: test cases

#47 test/6-sweet-with-no-eggs
  src/main/kotlin/logic/usecases/SweetsWithNoEggUseCase.kt
  src/test/kotlin/logic/usecases/SweetsWithNoEggUseCaseTest.kt
Labels: test cases

#49 fix/testable-ui
  src/main/kotlin/di/presentationModule.kt
  src/main/kotlin/presentation/ConsoleFoodChangeMoodUI.kt
  src/main/kotlin/presentation/EasyFoodSuggestionUI.kt
  src/main/kotlin/presentation/FindItalianMealsForLargeGroupsUI.kt
  src/main/kotlin/presentation/GetSeaFoodMealsUI.kt
  src/main/kotlin/presentation/GuessGameUI.kt
  src/main/kotlin/presentation/GymHelperUI.kt
  src/main/kotlin/presentation/HealthyFastFoodMealsUI.kt
  src/main/kotlin/presentation/HighCaloriesMealsUI.kt
  src/main/kotlin/presentation/ILovePotatoUI.kt
  src/main/kotlin/presentation/IngredientGameUI.kt
  src/main/kotlin/presentation/IraqiMealsUI.kt
  src/main/kotlin/presentation/KetoDietMealHelperUI.kt
  src/main/kotlin/presentation/SearchMealByCountryUI.kt
  src/main/kotlin/presentation/SearchMealByNameUI.kt
  src/main/kotlin/presentation/SearchMealsByDateUI.kt
  src/main/kotlin/presentation/SweetsWithNoEggUI.kt
  src/main/kotlin/presentation/io/ConsoleIO.kt
  src/main/kotlin/presentation/io/ConsoleIOImpl.kt
  src/test/kotlin/presentation/FakeConsoleIO.kt
Labels: enhancement

#51 test/12-i-love-potatoes
  src/test/kotlin/logic/usecases/GetRandomMealsHavePotatoesUseCaseTest.kt
  src/test/kotlin/presentation/HealthyFastFoodMealsUITest.kt
Labels: test cases

#53 Test/11-ingredient game use case
  build.gradle.kts
  src/main/kotlin/logic/usecases/GetIngredientMealsUseCase.kt
  src/test/kotlin/logic/usecases/GetIngredientMealsUseCaseTest.kt
Labels: test cases

#55 add test cases ui for task 12 I love potatoes
  src/main/kotlin/presentation/ILovePotatoUI.kt
  src/test/kotlin/presentation/ILovePotatoUITest.kt
Labels: test cases

#56 test/6-sweet-with-no-eggs
  src/main/kotlin/logic/usecases/SweetsWithNoEggUseCase.kt
  src/main/kotlin/presentation/SweetsWithNoEggUI.kt
  src/test/kotlin/logic/usecases/SweetsWithNoEggUseCaseTest.kt
  src/test/kotlin/presentation/SweetsWithNoEggUITest.kt
Labels: test cases

#57 Test/9 15 gym helper italian meals
  src/main/kotlin/presentation/GymHelperUI.kt
  src/test/kotlin/presentation/FindItalianMealsForLargeGroupsUITest.kt
  src/test/kotlin/presentation/GymHelperUITest.kt
Labels: test cases

#59 Test/4-easy food suggestion ui test cases
  src/test/kotlin/presentation/EasyFoodSuggestionUITest.kt
Labels: test cases

#61 refactor: improve test cases for HealthyFastFoodMealsUITest.kt
  src/test/kotlin/presentation/HealthyFastFoodMealsUITest.kt
Labels: test cases

#63 Test/9 15 gym helper italian meals
  src/test/kotlin/presentation/FindItalianMealsForLargeGroupsUITest.kt
  src/test/kotlin/presentation/GymHelperUITest.kt
Labels: test cases

#58 Finish the test-cases for searching meal by name
  .idea/misc.xml
  build.gradle.kts
  src/main/kotlin/data/FuzzySearchMatcher.kt
  src/main/kotlin/data/KMPSearchMatcher.kt
  src/main/kotlin/logic/usecases/GetHighCaloriesMealsUseCase.kt
  src/main/kotlin/logic/usecases/SearchMealByNameUseCase.kt
  src/main/kotlin/model/Exceptions.kt
  src/main/kotlin/presentation/HighCaloriesMealsUI.kt
  src/test/kotlin/data/FuzzySearchMatcherTest.kt
  src/test/kotlin/data/KMPSearchMatcherTest.kt
  src/test/kotlin/fake/HighCaloriesMockDataRepository.kt
  src/test/kotlin/logic/usecases/GetHighCaloriesMealsUseCaseTest.kt
  src/test/kotlin/logic/usecases/SearchMealByNameUseCaseTest.kt
Labels: test cases

#36 update logic and add test cases for keto meal feature
  src/main/kotlin/logic/usecases/GetKetoDietMealUseCase.kt
  src/main/kotlin/presentation/KetoDietMealHelperUI.kt
  src/test/kotlin/logic/usecases/GetKetoDietMealUseCaseTest.kt
  src/test/kotlin/presentation/KetoDietMealHelperUITest.kt
Labels: test cases

#68 add tests for meal guessing game functionality and RandomMealNameProv…
  src/main/kotlin/logic/usecases/RandomMealNameProviderUseCase.kt
  src/main/kotlin/presentation/GuessGameUI.kt
  src/test/kotlin/logic/usecases/RandomMealNameProviderUseCaseTest.kt
  src/test/kotlin/presentation/GuessGameUITest.kt
Labels: test cases

#69 Test/fix presentation tests
  src/test/kotlin/presentation/FindItalianMealsForLargeGroupsUITest.kt
  src/test/kotlin/presentation/HealthyFastFoodMealsUITest.kt
  src/test/kotlin/presentation/ILovePotatoUITest.kt
  src/test/kotlin/presentation/IngredientGameUITest.kt
  src/test/kotlin/presentation/IraqiMealsUITest.kt
  src/test/kotlin/presentation/KetoDietMealHelperUITest.kt
  src/test/kotlin/presentation/SearchMealByCountryUITest.kt
  src/test/kotlin/presentation/SearchMealsByDateUITest.kt
  src/test/kotlin/presentation/SweetsWithNoEggUITest.kt
Labels: test cases

#70 Test/improve test coverage
  src/main/kotlin/logic/usecases/GetKetoDietMealUseCase.kt
  src/main/kotlin/logic/usecases/GetSeafoodByProteinContentUseCase.kt
  src/main/kotlin/logic/usecases/SearchMealByCountryUseCase.kt
  src/main/kotlin/presentation/GuessGameUI.kt
  src/main/kotlin/presentation/GymHelperUI.kt
  src/test/kotlin/logic/usecases/GetIngredientMealsUseCaseTest.kt
  src/test/kotlin/logic/usecases/GetSeafoodByProteinContentUseCaseTest.kt
  src/test/kotlin/logic/usecases/createNutrition.kt
  src/test/kotlin/utils/CsvParserTest.kt
Labels: test cases
